html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
    
}

ul{
    width: 200px;
    padding: 0;
    margin: 0;
    list-style: none;    
}

.main-menu > li {
    border-bottom: 2px solid #2c3e50;
    background-color:#ffffff;
   
}

.main-menu a {
    display: block;
    margin-bottom: 0px;
    text-decoration: none;
    color:#ffffff;
    padding: 10px 15px 10px 15px;
    background-color: #2980b9;
     
}

.main-menu > .active > a{
    background: #1abc9c;
    border-bottom: 2px solid #2c3e50;
    color: #ffffff;
   
 }

.active > ul > li > a{
    text-decoration: underline;
    background-color:#ffffff;
    color: #2980b9;
    padding: 0px 15px 10px 15px; 
}
.main-menu > .active > ul > li:nth-child(1){
    padding-top: 15px;
    }
    .main-menu > .active > ul > li:nth-child(3){
    padding-bottom: 5px;
    }