html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}
ul{
    list-style-type: none;
    padding: 0px 0px;
    margin: 15px 4px; 
    }
li{
    display: block;
    border-bottom: 2px solid #2c3e50;
    padding:10px 10px;
    width: 170px;
    /*height: 20px;*/
    background-color: #2980b9
    /*text-decoration:*/
}
a{
    text-decoration: none;
    color: #ffffff;  
}
.a1:hover{
    background-color: #1abc9c;
    border-bottom: solid #2ecc71;
    }