html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}

ul {
    width: 200px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.main-menu .active {
    background-color: #1abc9c;
}

.main-menu>li {
    border-bottom: solid 2px #2c3e50;
    background-color: #2980b9;
}

.main-menu>li>a{
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
}

.active>ul {
    width: 185px;
    padding: 5px 0px 15px 15px;
    border-top: solid 2px #2c3e50;
    background-color: #ffffff;
}

.active>ul>li{
    padding-top: 10px;
}

.active>ul>li>a {
    color: #2980b9;
}