html, 
body {
    margin: 0;
    padding: 0;
}

body {
    width: 380px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}
.main-menu{
    padding: 0;
    margin: 0;
    position: relative;
    
}
.main-menu li{
    list-style-type: none;
    background: #2980b9;
    width: 180px; 
    border-bottom: 2px solid #2c3e50;
    padding:10px;
}
.main-menu a{
text-decoration: none; 
color: #ffffff;
padding-left: 5px; 
}
.main-menu .sub-menu{
    display: block;
    position: absolute;
    top: 41px;
    left: 140px
    }
.main-menu .sub-menu li{
    padding: 10px;
    border-bottom: 2px solid #2ecc71;
    background: #1abc9c;
    width: 180px;
}
.main-menu .opened{
    background: #1abc9c}